/* Board.css */
.board {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  height: 320px;
  margin: 0 auto;
}

.row {
  display: flex;
}

/* Square.css */
.square {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0d9b5;
  /* Light color */
}

.square.dark {
  background-color: #b58863;
}

/* Piece.css */
.piece {
  width: 16px;
  height: 16px;
  background-image: url('../public/assets/pieces.png');
  background-repeat: no-repeat;
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -webkit-optimize-contrast;
  /* Safari */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: pixelated;
  /* Chrome and other modern browsers */
  -ms-interpolation-mode: nearest-neighbor;
  /* IE (non-standard property) */
}

body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: large;
}